{
    "slack": {
        "slack_token": "Insert slack token", 
        "slack_channel": "#random", 
        "slack_emoji": ":robot_face:", 
        "slack_username": "Panoptes Alerts"},
    "ap_metrics":{
        "sleeptime" : 3,
        "interface" : "mon1",
        "pktcount" : 500},
    "nodeup" : {
        "sleeptime" : 60},
    "system_stats" : {
        "errorlog" : "/var/log/panoptes/system.log",
        "sleeptime" : 60},
    "ssid_detection" : {
        "interface": "mon1",
        "errorlog" : "/var/log/panoptes/system.log",
        "known_ssids" : "/etc/panoptes/known_ssids.txt"},
    "ping_metrics" : {
        "sleeptime" : 60},
    "packet_stats": {
    	"sleeptime" : 1,
    	"interface": "mon1"},
	"pushbullet": {
		"push_device_tokens": ["insert api tokens"]},
	"dhcp_rogue_server": {
		"interface": "mon1",
		"sleeptime": 60},
	"arp_Test": {
		"interface": "mon1",
		"sleeptime": 1,
		"maclimit": 10}
}
